@charset "utf-8";
*{ margin:0;padding:0;list-style:none;outline:none;box-sizing:border-box;}
body{font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";font-size:16px; min-width: 1200px;}
ul,li,ol{list-style:none;}
a{text-decoration:none;}
img{width:100%;height:100%;}
input{padding-left:4px;}
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.content{width:1200px;margin:0 auto;min-width:1200px;}
.header{width:100%;height:100px;position:fixed;left:0;top:0;background-color:#fff;z-index:999;}
.header_up_main{height:100%;}
.header_up_main:after,.header_nav:after,.header_list:after,.header_down_nav:after{display:block;content:'';clear:both;}
.header_left{float:left;padding-top:40px;text-align:center;width:100px;}
.logo_img>img{width:100%;height:56px;display: inline-block;}
.logo_text{font-size:12px;}
.header_middle{float:left;padding-top:40px;margin:0px 28px 0 18px;}
.header_right{float:right;padding-top:28px;}
.header_nav>li{float:left;position:relative;margin:0 10px;line-height:60px;font-weight:bold;}
.header_nav>li:hover .header_li_border{display:block;}
.header_nav>li.active .header_li_border{display:block;}
.header_nav>li.active .header_li_border>.header_nav_square{display:none;}
.header_nav>li:hover .header_down{display:block;}
.header_nav>li>a{color:#333;}
.header_nav>li.header_nav_title>a{color:#e60012;border-right:1px solid #d2d5d6;padding-right:20px;}
.header_nav_title>a>i{margin-left:12px;}
.header_li_border{width:100%;height:3px;background-color:#e60012;position:absolute;left:0;bottom:-1.5px;display:none;}
.header_nav_square{position:absolute;left:50%;bottom:-10px;margin-left:-5px;width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:10px solid red;}
.header_list>li{float:left;border-right:1px solid #e6e6e6;padding-right:12px;margin-right:12px;font-size:14px;}
.header_list>li:last-child{margin-right:none;border-right:0;padding-right:0;}
.header_list>li>a{color:#333;}
.header_list>li:hover a{color:#e60012;}
.header_right_down{margin-top:8px;height:28px;border:1px solid #e6e6e6;width:100%;}
.header_right_down>input{border:none;width:87%;padding-left:5px;height:100%;}
.header_list i{margin-right:6px;font-size:16px;position:relative;top:1px;}
.header_down{background-color:#fff;border-top:1px solid #d2d5d6;display:block;margin-bottom:30px;border-bottom: 1px solid #eee;box-shadow: 0px 2px 10px #eee;}
.header_nav_two>li{display:none;}
.header_nav_two>li.active{display:block;}
.header_down_nav{width:100%;}
.header_down_nav>li{float:left;margin:30px 95px 30px 0;}
.down_nav_title{font-size:17px;color:#e60012;border-bottom:1px solid #e6e6e6;padding-bottom:10px;margin-bottom:10px;}
.down_nav_title>a{font-size:17px;color:#e60012;border-bottom:1px solid #e6e6e6;padding-bottom:10px;margin-bottom:10px;}
.down_nav_list>li{color:#333;margin-bottom:8px;font-size:14px;}
.down_nav_list>li>a{color:#333;}
.down_nav_list>li:hover a{color:#e60012;}
.banner{height:595px;background-image:url(../images/29.jpg);background-size:100% 100%;margin-top:100px;min-width:1200px;}
.banner_title{color:#fff;font-size:50px;padding-top:70px;margin-bottom:35px;}
.banner_button{width:170px;height:40px;line-height:40px;color:#fff;text-align:center;background-color:#e60012;border-radius:25px;}
.banner_button i{margin-left:16px;}
.box_up:after,.box_one_nav:after,.box_two_nav:after{display:block;content:'';clear:both;}
.box_up{margin-top:40px;margin-bottom:32px;}
.box_up_left{float:left;width:5px;height:32px;background-color:#e60012;margin-right:16px;}
.box_up_right{float:left;font-size:30px;position:relative;top:-6px;}
.box_one_nav>li{float:left;margin-right:1.6%;width:32.2%;box-shadow:0 2px 2px 2px #f1f1f1;padding-bottom:28px;}
.box_one_nav>li:last-child{margin-right:0;}
.box_one_img{height:235px;position:relative;overflow:hidden;}
.box_one_img img:hover{transform:scale(1.1);transition:all 1s;}
.box_one_title{position:absolute;left:0;bottom:0;width:100%;height:50px;background-color:rgba(0,0,0,0.5);line-height:50px;padding-left:20px;color:#fff;font-size:20px;}
.box_one_text{line-height:26px;padding:10px 5%;color:#666;font-size:15px;}
.box_one_ico{text-align:right;padding-right:5%;color:#666;}
.box_one_ico i{margin-left:3px;}
.box_one_ico:hover{color:#e60012;}
.box_down_two{height:403px;background-color:#5e6263;}
.box_two_img{background-image:url(../images/29.jpg);background-size:100% 100%;height:100%;padding:65px 450px 0 86px;}
.box_two_text{font-size:19px;color:#fff;line-height:30px;margin-bottom:22px;}
.box_two_nav>li{float:left;border-right:1px solid #fff;padding-right:12px;margin-right:10px;font-size:19px;}
.box_two_nav a{color:#fff;}
.box_two_nav>li i{margin-left:5px;}
.box_two_nav a:hover{color:#e60012;}
.box_three_main:after,.box_four_nav:after,.box_four_nav>li:after{display:block;content:'';clear:both;}
.box_three_left{width:590px;float:left;height:426px;position:relative;}
.box_three_right{width:590px;float:right;}
.box_three_up{height:205px;margin-bottom:16px;position:relative;}
.box_three_down{height:205px;position:relative;}
.box_three_text{position:absolute;left:40px;bottom:30px;color:#fff;font-size:28px;}
.box_down_four{height:485px;background-color:#5e6263;}
.box_four_nav{width:1200px;margin:0 auto;border-bottom:4px solid #e60012;height:100%;}
.box_four_nav>li{float:left;height:100%;}
.box_four_left{width:300px;float:left;height:100%;}
.box_four_left>a{display:block;position:relative;width:100%;height:100%;}
.box_four_down{position:absolute;right:17px;bottom:25px;text-align:right;}
.box_four_one{color:#fff;font-size:34px;}
.box_four_two{border-right:4px solid #e60012;padding-right:10px;}
.box_four_title{color:#e60012;font-size:22px;margin:14px 0 6px 0;}
.box_four_text{color:#fff;font-size:17px;}
.box_four_three{color:#fff;font-size:34px;}
.box_four_right{float:left;background-color:#3e3e3f;height:100%;display:none;width:140px;}
.box_hidden_nav>li{line-height:44px;font-size:14px;}
.box_hidden_nav>li>a{color:#fff;display:block;padding:0 15px;}
.box_hidden_nav>li>a:hover{background-color:#e60012;}
.box_five_nav:after,.box_five_list:after,.box_six_nav:after{display:block;content:'';clear:both;}
.box_five_nav>li{width:33.3%;float:left;}
.box_five_nav>li:hover i,.box_five_nav>li:hover .box_five_down,.box_five_nav>li:hover .box_five_title{color:#e60012;}
.box_five_one{width:195px;height:195px;margin:0 auto;border-radius:195px;border:1px solid #e8e8e8;text-align:center;padding-top:35px;color:#666;}
.box_five_up>i{font-size:55px;color:#545454;margin-bottom:14px;}
.box_five_down{font-size:20px;position:relative;left:5px;color:#333;}
.box_five_span{font-size:36px;}
.box_five_title{text-align:center;font-size:32px;margin:16px 0 13px 0;color:#444;}
.box_five_text_one{padding:0 10%;line-height:28px;color:#666;text-align:center;}
.box_five_text_two{color:#444;margin-top:6px;text-align:center;margin-bottom:115px;}
.box_five_text_two:hover{color:#e60012;}
.box_five_list>li{width:10%;float:left;border-right:1px dashed #666;text-align:center;height:70px;margin-bottom:46px;}
.box_five_list>li a{color:#666;}
.box_five_list>li:hover a{color:#e60012;}
.box_five_list_up{font-size:38px;}
.box_down_six{background-color:#686868;height:670px;padding-top:57px;}
.box_six_nav>li{width:33.3%;float:left;border-right:1px solid #fff;height:547px;position:relative;overflow:hidden;}
.box_six_nav>li:last-child{border-right:0;}
.box_six_nav>li:hover img{transform:scale(1.1);transition:all 1s;}
.box_six_main{position:absolute;left:28px;bottom:26px;color:#fff;}
.box_six_one{font-size:26px;margin-bottom:16px;}
.box_six_two{border-left:4px solid #e60012;padding-left:7px;padding-right:7%;}
.box_six_title{font-size:30px;color:#e60012;}
.box_six_three{font-size:32px;text-align:right;padding-right:7%;}
.footer{height:417px;background-color:#404143;padding-top:52px;}
.footer_up:after,.footer_nav:after,.footer_down:after,.footer_down_nav:after{display:block;content:'';clear:both;}
.footer_up{border-bottom:1px solid #939392;padding-bottom:28px;margin-bottom:25px;}
.footer_up_left{float:left;}
.footer_up_right{float:right;}
.footer_nav>li{float:left;margin-right:93px;}
.footer_nav_title{color:#fff;margin-bottom:15px;}
.footer_list>li{margin-bottom:13px;font-size:14px;}
.footer_list>li>a{color:#939392;}
.footer_list>li:hover a{color:#fff;}
.footer_up_right_title{color:#fff;margin-bottom:18px;}
.footer_up_right_box{float:left;width:150px;margin-right:15px;}
.footer_up_right_button{width:150px;height:38px;text-align:center;border:1px solid #939392;border-radius:15px;line-height:38px;color:#939392;}
.footer_up_right_button>i{margin-left:34px;}
.footer_up_right_img{width:150px;height:180px;border-radius:8px;background-color:#323233;padding-top:8px;text-align:center;color:#939392;display:none;}
.footer_up_right_img img{width:133px;height:133px;margin-top:8px;}
.footer_down_left{float:left;}
.footer_down_right{float:right;color:#939392;font-size:14px;}
.footer_down_right>span{color:#fff;}
.footer_down_right>img{width:18px;height:18px;position:relative;top:2px;}
.footer_down_nav>li{float:left;padding-right:12px;margin-right:12px;border-right:1px solid #939392;font-size:14px;}
.footer_down_nav>li>a{color:#939392;}
.to_up{width:50px;height:50px;position:fixed;right:30px;bottom:40px;background-color:#8a8a8b;text-align:center;color:#fff;cursor:pointer;display:none;}
.to_up_up{width:23px;height:2px;margin:15px auto 0px;background-color:#fff;}
.to_up_down{font-size:23px;}

.works_banner{height:357px;}
.works_title{margin-top:25px;}
.works_title>a{color:#333;}
.works_title>a:hover{color:#e60012;}
.works_title>span{color:#e60012;}
.works_banner_title{color:#fff;font-size:40px;padding-top:100px;margin-bottom:20px;}
.works_banner_text{width:50%;color:#fff;line-height:28px;}
.works_one_nav:after,.works_three_nav:after{display:block;content:'';clear:both;}
.works_one_nav>li{width:33.3%;float:left;text-align:center;padding:20px 3%;}
.works_one_nav>li:hover{background-color:#f9f9f9;}
.works_one_nav>li:hover .works_one_ico,.works_one_nav>li:hover .works_one_title{color:#e60012;}
.works_one_nav>li>a{color:#666;}
.works_one_ico{font-size:44px;}
.works_one_title{color:#242424;margin:15px 0;font-size:19px;}
.works_one_text{line-height:27px;font-size:15px;}
.click_more{text-align:right;line-height:32px;font-size:15px;}
.click_more>a{color:#333;}
.click_more>a:hover{color:#e60012;}
.click_more i{margin-left:8px;font-size:20px;position:relative;top:1px;}
.works_two_down{height:652px;background-color:#f5f5f5;padding-top:5px;margin-top:50px;}
.box_six_nav.works_two_nav>li{height:500px;}
.works_three_nav>li{float:left;width:23.5%;margin-right:2%;}
.works_three_nav>li:last-child{margin-right:0;}
.works_three_up{height:200px;}
.works_box_main{background-color:#f5f5f5;margin-top:50px;padding:1px 0 40px 0;}
.works_three_title{color:#e60012;font-size:20px;}
.works_three_text{line-height:26px;font-size:14px;color:#666;margin-top:10px;}
.works_four_nav:after,.works_four_nav>li:after,.works_five_nav:after{display:block;content:'';clear:both;}
.works_four_nav>li{width:47.5%;float:left;padding-bottom:30px;margin-right:2.5%;}
.works_four_nav>li:nth-child(2n){margin-right:0;}
.works_four_nav>li:nth-child(1),.works_four_nav>li:nth-child(2){border-bottom:1px solid #e6e6e6;margin-bottom:28px;}
.works_four_left{float:left;width:220px;height:150px;margin-right:15px;overflow:hidden;}
.works_four_left:hover img{transform:scale(1.2);transition:1.5s;}
.works_four_right{float:left;width:333px;}
.works_four_date{color:#e60012;font-size:13px;}
.works_four_title{font-size:22px;margin:6px 0 8px 0;}
.works_four_text{font-size:14px;margin:0 0 8px 0;line-height:24px;}
.works_five_nav>li{float:left;width:380px;margin-right:30px;}
.works_six_img{overflow:hidden;}
.works_five_nav>li:last-child{margin-right:0;}
.works_six_img:hover img{transform:scale(1.2);transition:1.5s;}
.works_five_down_box{box-shadow:0px 1px 1px 1px #d8d8d8;font-size:22px;color:#333;position: relative;}
.works_five_down_box:hover{box-shadow:0px 2px 2px 2px #d8d8d8;}
.work_five_down_cover{height: 310px;width:380px;position: absolute;z-index: 1;top:0;left:0;cursor:pointer;}
.works_five_up{height:240px;overflow:hidden;}
.works_five_up video{height:240px;width:380px;overflow:hidden;}
.works_five_down{height:70px;line-height:70px;padding-left:18px;color:#333;}
.works_text_box{box-shadow:0px 1px 1px 1px #d8d8d8;padding:20px;}
.works_six_img{height:230px;}
.works_six_title{color:#242424;font-size:22px;}
.works_six_text{line-height:26px;font-size:14px;color:#333;margin-top:10px;}

.banner.about_banner{height:338px;position:relative;}
.banner_list{width:100%;height:100%;position:relative;}
.banner_list>li{position:absolute;left:0;top:0;display:none;width:100%;height:100%;}
.banner_list>li.active{display: block;}
.banner_list>li>img{width:100%;height:100%;}
.banner_footer_list{position:absolute;left: 50%;bottom:15px;}
.banner_footer_list>li{width:10px;height:10px;border-radius:10px;background-color:#fff;float:left;margin-right:28px;cursor:pointer;}
.banner_footer_list>li.active{background-color:#e60012;}
.banner_footer_list>li:last-child{margin-right:0;}
.about_one_up:after,.about_one_nav:after,.about_two_nav:after,.about_two_nav>li:after,.about_three_nav:after{display:block;content:'';clear:both;}
.about_one_up{margin-bottom:24px;}
.about_one_left{float:left;width:50%;height:338px;}
.about_one_right{width:50%;float:left;padding:30px 15px 0 30px;}
.about_one_title{font-size:30px;border-bottom:3px solid #e60012;padding-bottom:28px;}
.about_one_text{box-shadow:0px 1px 1px 1px #d8d8d8;padding:24px;line-height:27px;}
.about_one_nav>li{width:281px;float:left;margin-right:25px;}
.about_one_nav>li:last-child{margin-right:0;}
.about_one_nav_img{height:200px;}
.about_one_nav_text{height:66px;line-height:66px;box-shadow:0px 1px 1px 1px #d8d8d8;font-size:22px;padding-left:17px;color:#333;}
.about_main_title{text-align:center;padding-top:28px;margin-bottom:28px;color:#333;font-size:19px;}
.about_main_box{position:relative;}
.about_two_nav{border:1px solid #e6e6e6;background-color:#fff;}
.about_two_nav>li{float:left;width:33.3%;padding:68px 0 42px 0;}
.about_two_left{float:left;padding-left:84px;}
.about_main_ico{font-size:60px;color:#9e9b9a;}
.about_two_right{float:left;border-left:1px dashed #b2b0a8;padding-left:20px;margin-left:24px;}
.about_nav_num{margin-bottom:8px;color:#e60012;font-size:40px;}
.about_nav_num>span{font-size:15px;}
.about_nav_ico{position:absolute;left:50%;top:0;margin-left:-7px;width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-top:10px solid #f9f9f9;}
.about_three_nav{border-top:1px solid #e6e6e6;background-color:#fff;border-left:1px solid #e6e6e6;}
.about_three_nav>li{float:left;text-align:center;width:25%;padding:40px 0;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}
.about_four_down{height:546px;background-image:url(../images/29.jpg);background-size:100% 100%;padding-top:1px;}
.about_four_nav{padding-left:155px;}
.about_four_nav>li{border-bottom:2px solid #ebece8;padding:0 10% 20px 0;margin-bottom:20px;}
.about_four_nav>li:last-child{border-bottom:none;}
.about_four_title{font-size:24px;margin-bottom:17px;}

.partner_one_nav:after,.partner_two_nav:after,.partner_title_box:after{display:block;content:'';clear:both;}
.partner_one_nav{border-bottom:4px solid #e60012;}
.partner_one_nav>li{width:20%;float:left;position:relative;height:240px;overflow:hidden;text-align:center;}
.partner_one_content{position:absolute;left:0;top:0;width:100%;height:100%;color:#fff;}
.partner_one_ico{font-size:44px;margin-bottom:58px;padding-top:70px;}
.partner_one_text{font-size:21px;font-weight:bold;letter-spacing:1px;}
.partner_one_nav>li>a:hover img,.partner_two_nav>li:hover img{transform:scale(1.2);transition:1.5s;}
.partner_two_nav>li{width:282px;height:380px;float:left;margin-right:24px;position:relative;overflow:hidden;}
.partner_two_nav>li:last-child{margin-right:0;}
.partner_two_content{padding:100px 35px 0 30px;}
.partner_two_title{color:#333;padding:2px 10px;background-color:#fff;float:left;font-size:18px;}
.partner_two_text{font-size:14px;color:#fff;line-height:22px;letter-spacing:1px;margin:6px 0 60px 0;}
.partner_two_more{text-align:right;color:#fff;font-size:36px;}

.partener_two_footer{text-align:center;font-size:14px;font-size:14px;margin:3px 0 40px 0;}
.partener_two_footer>a{color:#333;text-decoration:underline;}
.partener_two_footer>a:hover{color:#e60012;}

.service_one_title{color:#333;font-size:22px;}
.service_one_nav>li>.service_one_img{overflow:hidden;}
.service_one_nav img:hover,.service_three_left img:hover{transform:scale(1.2);transition:1.5s;}
.service_one_img{height:232px;}
.service_nav_more{font-size:14px;text-align:right;}
.service_nav_more>a{color:#333;}
.service_nav_more i{font-size:18px;margin-left:5px;position:relative;top:2px;}
.service_nav_more>a:hover{color:#e60012;}
.service_two_nav>li{background-color:#f9f9f9;width:384px;margin-right:24px;}
.works_one_nav.service_two_nav>li:last-child{margin-right:0;}
.service_three_box:after,.service_three_nav:after,.service_four_nav:after{display:block;content:'';clear:both;}
.service_three_left{float:left;width:275px;height:155px;overflow:hidden;}
.service_three_right{float:left;width:925px;height:155px;padding:38px 0 0 52px;background-color:#f9f9f9;}
.service_three_nav>li{float:left;margin:0 175px 22px 0;font-size:22px;}
.service_three_nav>li>a{color:#333;}
.service_three_nav>li>a>i{margin-left:6px;position:relative;top:2px;}
.service_three_nav>li>a:hover,.service_four_nav>li>a:hover{color:#e60012;}
.service_four_up{height:157px;}
.service_four_nav>li{float:left;width:25%;text-align:center;font-size:18px;margin:12px 0;}
.service_four_nav>li>a{color:#333;}
.service_four_nav>li>a>i{margin-left:9px;}
.service_six_box{margin-bottom:50px;}

.plan_banner{height:337px;}
.works_banner_title.plan_banner_title{padding-top:85px;}
.plan_one_nav:after{display:block;content:'';clear:both;}
.plan_one_nav>li{float:left;height:305px;width:25%;background-color:#fff;overflow:hidden;}
.plan_one_nav>li:hover img{transform:scale(1.2);transition:1.5s;}
.plan_one_title{padding:42px 0 15px 30px;font-size:28px;}
.plan_one_text{padding:0 30px;font-size:14px;color:#666;line-height:24px;}
.service_nav_more.plan_nav_more{padding-right:30px;margin-top:15px;}
.plan_box_bottom{margin-bottom:50px;}

.suggest_main_content:after,.suggest_nav>li:after,.suggest_right:after{display:block;content:'';clear:both;}
.suggest_main_left{float:left;width:850px;}
.suggest_main_right{float:right;width:300px;padding-top:40px;}
.suggest_down_text{color:#999;margin-bottom:50px;}
.suggest_nav>li{margin-bottom:9px;color:#999;}
.suggest_left{float:left;width:140px;text-align:right;line-height:30px;height:30px;}
.suggest_right_left{float:left;width:310px;text-align:right;}
.suggest_right_right{float:left;width:10px;color:#e60012;}
.suggest_right_left>input,.suggest_right_left>select{width:100%;height:30px;border:1px solid #999;}
.suggest_right_left>textarea{width:310px;height:118px;padding:5px;}
.suggest_left.suggest_left_select{line-height:118px;}
.suggest_right_right.suggest_left_span{line-height:118px;}
.suggest_right input:focus,.suggest_right select:focus,.suggest_right textarea:focus{border:2px solid #8caee5;}
.suggest_right_left.suggest_right_code{width:100px;margin-right:10px;}
.suggest_right_right.suggest_right_img{width:100px;height:30px;}
.suggest_right>button{width:100px;height:30px;background-color:#0b7fd7;border:none;color:#fff;margin-left:100px;cursor:pointer;}
.suggest_right_title{height:50px;line-height:50px;background-color:#ececec;padding-left:20px;color:#242424;}
.suggest_right_nav{border:1px solid #ececec;padding-top:20px;}
.suggest_right_nav>li{padding-left:20px;margin-bottom:20px;}
.suggest_right_nav>li>a{color:#999;}
.suggest_right_nav>li.active>a{color:#e60012;}

.address_main_left{width:580px;float:left;}
.address_main_right{width:580px;float:right;}
.address_main_up{height:277px;margin-bottom:13px;}
.address_main_nav>li{margin-bottom:10px;}
.address_main_nav>li>i{margin-right:10px;}
.address_main_img{height:300px;}
.address_main_footer:after{display:block;content:'';clear:both;}
.address_main_footer{height:300px;background-image:url(../images/29.jpg);background-size:100% 100%;padding-left:45px;}
.address_footer_left{float:left;}
.address_footer_right{float:left;margin-left:70px;}
.box_up_right.address_title_right{font-size:22px;position:relative;top:2px;}

.consult:after,.consult_nav>li:after{display:block;content:'';clear:both;}
.consult{height:310px;position:absolute;right:0;top:140px;z-index:999;}
.consult_left{float:left;width:42px;height:200px;border-radius:10px 0 0 10px;background-color:#404143;padding-top:32px;cursor:pointer;}
.consult_right{float:left;width:243px;height:100%;border-bottom:1px solid #eee;background-color:#fff;padding:20px 20px 0 30px;display:none;}
.consult_right_up{border-bottom:1px solid #d1d1d1;margin-bottom:11px;}
.consult_left_text{width:28px;height:110px;margin:0 auto;background-color:#474747;color:#fff;text-align:center;font-size:20px;}
.consult_title{font-weight:bold;}
.consult_title_two{font-size:14px;margin:5px 0;}
.consult_nav>li{margin-bottom:5px;}
.consult_nav_left{float:left;font-size:24px;margin-right:14px;width:25px;height:25px;position:relative;top:-6px;}
.consult_nav_right{float:left;font-size:14px;width:140px;}
.consult_nav_right>a{color:#248fd1;}
.product_one:after,.product_two_down:after,.product_three_down:after,.product_four_nav:after{display:block;content:'';clear:both;}
.product_one{padding-top:40px;}
.product_one_left{float:left;width:500px;height:282px;margin-right:70px;}
.product_one_right{float:left;width:630px;padding-top:12px;}
.product_one_title{font-size:26px;margin-bottom:16px;}
.product_one_text>p{font-size:14px;margin-bottom:25px;color:#333;line-height:26px;}
.product_two_up{height:65px;line-height:65px;border-bottom:1px solid #e60012;box-shadow:0 1px 1px 1px #d8d8d8;margin-bottom:30px;}
.product_two_up>span{display:inline-block;width:300px;background-color:#e60012;text-align:center;color:#fff;font-size:20px;}
.product_two_left{float:left;width:300px;margin-right:100px;}
.product_two_right{float:left;width:800px;}
.product_two_box{margin-bottom:17px;}
.product_two_title{font-size:19px;margin-bottom:10px;}
.product_two_nav>li{margin-bottom:11px;font-size:14px;}
.product_two_nav>li>a{color:#0b7ed7;}
.product_two_nav>li>a>span{color:#e60012;margin-right:13px;}
.product_two_nav>li>a:hover{color:#e60012;}
.product_three_box{width:600px;float:left;}
.product_three_right{padding-left:44px;}
.product_two_nav.product_three_nav>li>a{color:#333;}
.product_two_nav.product_three_nav>li>a:hover{color:#e60012;}
.product_four_nav>li{width:275px;height:115px;float:left;margin-right:25px;box-shadow:0 2px 2px 2px #d8d8d8;line-height:115px;text-align:center;font-size:18px;color:#333;cursor:pointer;}
.product_four_nav>li>i{font-size:46px;margin-right:24px;color:#666;}
.product_four_nav>li>span{position:relative;top:-5px;}

.buy_box_title{font-size:25px;color:#333;margin:23px 0;}
.buy_box_text{font-size:15px;color:#666;}
.buy_box_text_one{padding-right:140px;line-height:26px;}
.buy_nav{margin-top:23px;}
.buy_nav>li:after,.buy_right:after{display:block;content:'';clear:both;}
.buy_nav>li{margin-bottom:15px;color:#666;font-size:14px;}
.buy_left{float:left;width:205px;text-align:right;margin-right:25px;line-height:34px;}
.buy_left>span{color:#e60012;}
.buy_right{float:left;width:450px;text-align:right;margin-right:25px;}
.buy_right_left{float:left;width:440px;font-size:14px;}
.buy_right_right{float:left;width:10px;color:#e60012;line-height:34px;}
.buy_right_left>input,.buy_right_left>select{height:34px;border:1px solid #ccc;border-radius:3px;width:100%;}
.buy_right_left>textarea{height:95px;padding:5px;width:100%;}
.buy_right_left.buy_right_contact>input:first-child{width:138px;}
.buy_right_left.buy_right_contact>input:last-child{width:285px;}
.buy_right_left.buy_right_code{width:130px;margin-right:10px;}
.buy_right_right.buy_right_img{width:100px;height:34px;}

/*自定义屏蔽罩*/
.fullbg {
  width: 100%;
  min-height: 100vh;
  background-color:rgba(0,0,0,0.5);
  left:0;
  position:fixed;
  top:0;
  z-index:10000000;
}

.cover_close{position: absolute;top:10px;right:20px;font-size:35px!important;color:rgba(255,0,0,0.8);cursor:pointer;}
.cover_close:hover{color:rgba(255,0,0,0.5);}









.news_main{margin-top:120px;}
.news_title:after,.news_nav>li:after{display:block;content:'';clear:both;}
.news_title_left{float:left;}
.news_title_left>a{color:#333;}
.news_title_left>a:hover{color:#e60012;}
.news_title_left>span{color:#e60012;}
.news_title_right{float:right;}
.news_title_right>a{color:#e60012;}
.news_main_up{margin-top:45px;}
.news_nav>li{border-bottom:1px solid #f5f5f5;padding-top:20px;}
.news_nav>li:hover{background-color:#f5f5f5;}
.news_nav_left{width:32px;float:left;text-align:center;color:#bfbfbf;font-size:20px;}
.news_nav_left>i{position:relative;top:-3px;}
.news_nav_right{float:left;}
.news_nav_title>a{color:#248fd1;font-size:17px;}
.news_nav_date{margin:20px 0;font-size:14px;color:#999;}
.news_main_down{text-align:center;color:#9a9a9a;margin:70px 0 0px 0;}
.news_main_down>span{display:inline-block;line-height:32px;}
.news_main_down>span.page{width:30px;line-height:32px;text-align:center;cursor:pointer;}
.news_main_down>span.active{color:#0b7fd7;}
.news_main_down>input{line-height:30px;width:100px;margin-right:10px;}
.news_main_down>button{line-height:32px;width:80px;background-color:#e60012;color:#fff;border:none;cursor:pointer;}
#prev_page>i,#next_page>i{font-size:24px;position:relative;top:2px;}
#display_now{font-size:17px;position:relative;top:1px;}
.suggest_right_nav>li:hover a{color:#e60012;}
.news_right_down{margin-top:40px;background-color:#f2f2f2;border:1px solid #ececec;padding:0 0 10px 17px;}
.news_right_down>a:after{display:block;content:'';clear:both;}
.news_right_down>a{display:block;}
.news_right_left{float:left;padding-top:30px;}
.news_right_right{float:right;position:relative;font-size:70px;color:#c5c5c5;padding-right:15px;}
.news_right_title{font-size:20px;color:#6d6d6d;}
.news_right_text{color:#248fd1;}
.news_right_right>span{color:#317fc7;}
.news_ico_one{font-size:30px;position:absolute;left:22%;top:25px;display:block;font-weight:bold;}
.news_ico_two{font-size:24px;position:absolute;right:10px;top:18px;display:block;font-weight:bold;transform:rotate(45deg);}
.news_ico_three{font-size:17px;position:absolute;right:8px;top:1px;display:block;transform:rotate(45deg);}

.relevant_main{margin-top:120px;}
.relevant_one_right{float:left;width:630px;padding-top:50px;}
.relevant_box{padding-bottom:80px;}
.relevant_nav:after{display:block;content:'';clear:both;}
.relevant_nav>li{width:380px;float:left;margin-right:30px;}
.relevant_nav>li:nth-child(3n){margin-right:0;margin-bottom:15px;}
.relevant_five_down{padding-left:20px;}
.relevant_five_date{color:#666;margin:12px 0 8px 0;}
.relevant_five_title{color:#333;}

.team_main{margin-top:100px;}
.team_one{height:290px;position:relative;background-color:#f5f5f5;padding-top:26px;}
.boss_box:after,.team_two_nav:after,.team_three_nav:after,.show_person_main:after{display:block;content:'';clear:both;}
.boss_box{height:273px;}
.boss_left{width:275px;float:left;height:100%;}
.boss_right{width:925px;float:left;height:100%;background-color:#fff;box-shadow:0 3px 3px #d8d8d8;padding:40px 0 22px 16px;}
.boss_right_one{font-size:30px;}
.boss_right_two{font-size:14px;color:#e60012;margin:8px 0 15px 0;}
.boss_right_three{font-size:14px;margin-bottom:18px;}
.boss_right_four{font-size:14px;height:100px;overflow:hidden;line-height:26px;padding-right:88px;}
.team_two{margin-top:270px;}
.team_two_nav>li{float:left;width:210px;margin-right:114px;margin-bottom:30px;}
.team_two_nav>li:nth-child(4n),.team_three_nav>li:nth-child(4n){margin-right:0;}
.team_two_img{height:240px;margin-bottom:28px;}
.team_two_name{text-align:center;font-size:21px;}
.team_two_line{width:47px;height:3px;background-color:#e60012;margin:12px auto;}
.team_two_job{text-align:center;font-size:14px;}
.team_three{background-color:#f5f5f5;padding:50px 0;}
.team_three_nav>li{float:left;width:210px;margin-right:114px;margin-bottom:18px;}
.team_two_text{text-align:center;font-size:14px}
.show_person{width:100%;height:100%;position:fixed;left:0;top:0;z-index:999;background-color:#fff;padding-top:140px;display:none;}
.show_person_left{float:left;width:180px;height:180px;margin-right:20px;}
.show_person_middle{float:left;width:950px;}
.show_person_right{float:right;font-size:40px;color:#e60013;position:relative;top:-45px;cursor:pointer;}
.show_person_title{font-size:30px;text-align:center;margin-bottom:18px;}
.show_person_text>p{margin-bottom:12px;line-height:26px;}

.personal_down_middle{width:750px;float:left;font-size:14px;}
.personal_down_right{width:212px;float:right;font-size:12px;}
.personal_one{height:180px;}
.personal_two{background-color:#eeefee;color:#4a7fb1;padding-left:18px;line-height:30px;margin:10px 0 17px 0;}
.personal_three_up{padding-left:13px;margin-bottom:38px;}
.personal_nav:after,.personal_right_nav:after{display:block;content:'';clear:both;}
.personal_nav>li{width:50%;float:left;margin-bottom:40px;padding-left:10%;}
.personal_nav>li:hover,.personal_right_nav>li:hover{text-decoration:underline;}
.personal_nav>li>a,.personal_right_nav>li>a{color:#648bb1;}
.personal_nav>li>a>i{margin-right:5px;font-size:22px;position:relative;top:2px;}
.personal_nav>li>a>i.fa-cog{color:#acacac;}
.personal_nav>li>a>i.fa-unlock-alt{color:#ffe15b;}
.personal_nav>li>a>i.fa-id-card-o{color:#dfefff;}
.personal_nav>li>a>i.fa-user-secret{color:#80b2e5;}
.personal_right_up,.personal_right_down{border:1px solid #d3d3d3;margin-bottom:11px;}
.personal_right_title{line-height:26px;background-color:#eeefee;padding-left:10px;color:#4a7fb1;}
.personal_right_up_main{padding:15px 0 15px 13px;}
.personal_right_nav>li{float:left;margin-bottom:7px;margin-right:3px;}
.personal_right_down_main{padding:15px 12px;}






.register_main{margin-top:130px;padding-bottom:40px;}
.register_title{font-size:20px;font-weight:bold;color:#a00401;}
.register_down:after,.register_nav>li:after{display:block;content:'';clear:both;}
.register_down{border-top:2px solid #eee;margin-top:34px;padding-top:40px;}
.register_main_left{float:left;width:800px;}
.register_main_right{float:right;width:382px;padding-top:45px;}
.register_main_box{margin-bottom:50px;}
.register_main_left_title{font-weight:bold;padding-left:20px;margin-bottom:17px;}
.register_nav>li{margin-bottom:10px;color:#666;}
.register_left{width:132px;float:left;text-align:right;margin-right:15px;line-height:30px;}
.register_left>span{color:#ff0000;}
.register_middle{width:280px;float:left;text-align:right;margin-right:15px;line-height:30px;margin-right:13px;}
.register_middle>input,.register_middle>select,.register_middle_two>input,.register_middle_two>select,.register_middle_code>input{width:100%;height:30px;line-height:30px;}
.register_more{float:left;line-height:30px;font-size:15px;}
.register_right{float:left;line-height:30px;font-size:14px;height:30px;color:#e60012;margin-left:5px;}
.register_check{float:left;line-height:30px;font-size:15px;height:30px;}
.register_middle_two{width:320px;float:left;text-align:right;margin-right:15px;margin-right:13px;}
.register_middle_sex{float:left;}
.register_middle_sex input{width:18px;height:18px;position:relative;top:4px;margin-right:2px;}
.register_middle_sex>span{margin-right:45px;}
.register_middle_day{float:left;}
.register_middle_day>input{width:65px;height:30px;line-height:30px;margin-right:3px;}
.register_middle_code{float:left;width:100px;margin-right:5px;}
.register_right_codeimg{float:left;width:77px;height:30px;cursor:pointer;}
.register_middle_button{float:left;width:100px;margin-left:32px;}
.register_middle_button>button{background-color:#0b7fd7;color:#fff;height:30px;width:100%;border:none;margin-top:30px;cursor:pointer;}
.register_right_more{color:#0b7fd7;}
.check_used{display:block;height:100%;background-color:#0b7fd7;color:#fff;padding:0 7px;}
.register_right_title{font-weight:bold;margin-bottom:30px;font-size:15px;padding-left:13px;}
.register_right_nav>li:after{display:block;content:'';clear:both;}
.register_right_nav>li{margin-bottom:9px;font-size:14px;color:#7f7f7f;}
.register_right_left{float:left;width:12px;}
.register_right_right{float:left;width:368px;}
.register_right_right a{color:#248fd1;}
.register_hidden_nav>li{display:none;}
.register_hidden_nav>li.active{display:block;}

.login_down:after,.login_nav>li:after{display:block;content:'';clear:both;}
.login_down{border-top:3px solid #eee;margin-top:34px;padding-top:85px;border-bottom:2px solid #eee;margin-bottom:180px;}
.login_nav>li{margin-bottom:10px;color:#666;}
.login_left{width:195px;float:left;text-align:right;line-height:30px;}
.login_right{width:228px;float:left;text-align:right;}
.login_nav input,.login_nav select,.login_nav button{width:100%;height:30px;line-height:30px;}
.login_right_select{width:150px;float:left;}
.login_forget_right{float:left;}
.login_forget_right>a{color:#248fd1;font-size:14px;}
.login_right_code{float:left;width:150px;margin-right:5px;}
.login_right_codeimg{float:left;width:77px;height:30px;cursor:pointer;}
.login_right_button{width:196px;float:left;margin-top:10px;}
.login_right_button>button{height:30px;background-color:#0b7fd7;color:#fff;border:none;width:94px;cursor:pointer;}
#login_button{margin-right:8px;}
.login_main_left{float:left;width:500px;}
.login_main_right{float:right;width:475px;margin-right:100px;}

.agent_main{margin-top:130px;padding-bottom:40px;}
.box_up_right_text{float:left;color:#ff0000;font-size:14px;margin-left:28px;padding-top:10px;}
.agent_one_nav:after,.agent_three_nav>li:after{display:block;content:'';clear:both;}
.agent_one_nav>li{float:left;width:166px;height:118px;margin-right:6px;background-color:#f5f5f5;color:#666;}
.agent_one_nav>li:last-child{margin-right:0;}
.agent_one_up{width:40px;height:40px;border-radius:100%;margin:25px auto 8px;text-align:center;line-height:36px;border:2px solid #999;font-size:20px;}
.agent_one_down{text-align:center;padding:0 10px;font-size:13px;}
.agent_one_nav>li.active{background-color:#e60012;color:#fff;}
.agent_one_nav>li.active .agent_one_up{border:2px solid #fff;}
.agent_two{font-size:14px;margin-top:50px;}
.agent_two_one>span{font-weight:bold;}
.agent_two_two>span{color:#e60012;}
.agent_two_two{margin:15px 0 52px 0;}
.agent_main_title{border-bottom:1px solid #d8d8d8;margin-bottom:20px;}
.agent_main_title>span{display:inline-block;padding:15px 20px;background-color:#f7f7f7;border:1px solid #d8d8d8;border-bottom:none;color:#333;}
.agent_three_nav>li{margin-bottom:20px;color:#666;}
.agent_three_left{width:200px;float:left;line-height:36px;padding-left:10px;font-size:15px;}
.agent_three_left>span{color:#ff0000;;}
.agent_three_right{width:1000px;float:left;height:36px;line-height:36px;}
.agent_three_right>input,.agent_three_right>select{width:100%;height:100%;}
.agent_three_right_city{float:left;}
.agent_three_right_city>select{width:180px;height:36px;margin-right:10px;}
.agent_three_right_text{float:left;width:700px;height:150px;}
.agent_three_right_text>textarea{width:100%;height:100%;padding:5px;}
.agent_four{margin:58px 0;font-size:15px;color:#666;}
.agent_four_up{border-bottom:1px solid #d8d8d8;padding-bottom:16px;margin-bottom:20px;}
.agent_four_nav>li{margin-bottom:12px;}
.agent_four_nav input{width:100%;height:36px;line-height:36px;}
.agent_four_nav_one,.agent_four_left{float:left;width:200px;}
.must_ico{color:#e60012;}
.agent_four_nav_two{float:left;width:385px;margin-right:25px;}
.agent_four_nav_three{float:left;width:180px;margin-right:25px;}
.agent_four_nav_four{float:left;width:180px;margin-right:25px;}
.agent_four_nav_five{float:left;width:180px;}
.agent_four_nav>li:after,.agent_four_list:after,.agent_five_list:after{display:block;content:'';clear:both;}
.agent_four_right{float:left;}
.agent_four_list>li{float:left;width:180px;margin-right:25px;}
.agent_four_list>li:last-child{margin-right:0;}
.agent_four_nav_footer{text-align:right;}
.agent_five_nav>li{margin-bottom:12px;font-size:15px;}
.agent_five_list>li{margin-bottom:12px;float:left;width:180px;margin-right:25px;text-align:center;}
.agent_five_list>li input,.agent_five_list>li select{width:100%;height:36px;line-height:36px;text-align:left;}
.agent_five_list>li:first-child{width:380px;}
.agent_five_list>li:last-child{margin-right:0;}
.agent_six{font-size:15px;}
.agent_six_text{margin-bottom:12px;}
.agent_six_nav>li:after{display:block;content:'';clear:both;}
.agent_six_nav>li{margin-bottom:12px;}
.agent_six_left{width:222px;float:left;line-height:36px;}
.agent_six_middle{width:583px;float:left;}
.agent_six_middle>input{width:100%;height:36px;line-height:36px;}
.agent_six_right{width:90px;float:left;margin:0 15px;position:relative;}
.agent_six_right>input{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;}
.agent_six_right>button{width:100%;height:100%;background-color:#e60012;color:#fff;border:none;height:36px;}
.agent_six_text{float:left;line-height:36px;}
.agent_seven{margin:40px 0;}
.agent_seven table{border:1px solid #666;font-size:15px;}
.agent_seven table th,.agent_seven table td{border-right:1px solid #666;font-weight:normal;height:36px;line-height:36px;}
.agent_seven table tr th:last-child,.agent_seven table tr td:last-child{border-right:0;}
.agent_footer_button{width:120px;line-height:36px;margin:0 auto;background-color:#e60012;color:#fff;text-align:center;cursor:pointer;}

.useredit_down:after{display:block;content:'';clear:both;}
.useredit_down{border-top:2px solid #eee;border-bottom:2px solid #eee;margin-top:20px;padding:40px 0 100px 0;}
.useredit_down_left{width:195px;float:left;margin-right:20px;}
.useredit_down_right{width:750px;float:left;}
.useredit_middle{width:320px;float:left;text-align:right;margin-right:15px;line-height:30px;margin-right:13px;}
.useredit_middle>select{width:100%;height:30px;line-height:30px;}
.useredit_down_left{border-radius:6px;border-bottom:3px solid #5a5a5a;font-size:13px;}
.useredit_nav_title{line-height:30px;background-color:#5a5a5a;padding-left:9px;border-radius:6px 6px 0 0;}
.useredit_nav_title>a{color:#fff;}
.useredit_nav>li{line-height:26px;background-color:#efeff1;margin-bottom:1px;border-bottom:1px solid #c3c3c5;}
.useredit_nav>li>a{color:#666;display:block;padding-left:9px;font-weight:bold;}
.useredit_nav>li.active>a{color:#648bbf;}
.useredit_nav>li.active .useredit_list{display:block;}
.useredit_list{display:none;}
.useredit_list>li{padding-left:19px;background-color:#fff;line-height:26px;border-bottom:1px solid #efeff1;}
.useredit_list>li>a{color:#666;}
.useredit_list>li.active>a{color:#648bb8;}
.useredit_list>li>a>i{color:#3b73b8;margin-right:8px;}
.useredit_list>li:hover a{color:#648bb8;}
.useredit_down_main_title{font-size:20px;font-weight:bold;color:#a00401;border-bottom:1px solid #648bb1;padding-left:100px;padding-bottom:12px;}
.useredit_down_form{border-top:16px solid #ecf2f8;padding:16px 0 0 136px;}

.passedit_down_title{color:#648bb8;font-weight:bold;margin-bottom:8px;font-size:14px;}
.passedit_down_text{font-size:14px;margin-bottom:7px;padding-left:55px;}
.passedit_nav>li:after,.passedit_right:after{display:block;content:'';clear:both;}
.passedit_nav>li{margin-bottom:12px;font-size:14px;}
.passedit_left{width:153px;float:left;margin-right:7px;line-height:30px;text-align:right;height:30px;}
.passedit_right{width:155px;float:left;height:30px;}
.passedit_right input{width:100%;height:30px;line-height:30px;}
.passedit_right_left{width:70px;float:left;}
.passedit_right_right{width:75px;float:left;margin-left:5px;}
.passedit_right_right>img{width:100%;height:30px;margin-left:5px}
.passedit_right>button{width:100px;background-color:#0b7fd7;color:#fff;height:30px;border:none;cursor:pointer;}

.usertype_down_text{font-size:14px;margin-bottom:7px;}
#usertype_table{border:1px solid #bfd4e9;font-size:14px;border-bottom:none;}
#usertype_table th{background-color:#bbd1e8;color:#658bb0;}
#usertype_table th,#usertype_table td{border-right:1px solid #bfd4e9;border-bottom:1px solid #bfd4e9;line-height:26px;}
#usertype_table td{padding-left:5px;}
#usertype_table td>a{color:#507cb1;}
#usertype_table td>a:hover{text-decoration:underline;}















