<!--
 * @Descripttion: 
 * @version: 
 * @Author: rufeike
 * @Date: 2019-12-31 15:22:53
 * @Email: rufeike@163.com
 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>易达后台</title>
		<link href="/public/admin/css/style.css" rel="stylesheet" type="text/css">
		<link href="/public/admin/css/font-awesome.css" rel="stylesheet" type="text/css">
		<script src="/public/admin/js/jquery.js"></script>
		<script src="/public/admin/js/jquery.form.js"></script>
		<script src="/public/admin/js/layer/layer.js"></script>
		<script src="/public/admin/js/ueditor/ueditor.all.js"></script>
		<script src="/public/admin/js/public_method.js"></script>
		<script>
			$(function(){
				
			})
		</script>
	</head>
	<body style="min-width: 1000px;">
		<div class="main_right_up">
			<div class="panel panel-default" style="padding:15px;">
				<div class="page-header">
					<strong style="font-size:18px;font-weight:600">个人信息：</strong>
				</div>	
				<div class="panel-body" style="padding:10px 15px;">
					<p>你好,<%=admin%></p>
			    	<!-- <p>
						<strong>上次登录时间：</strong> <{date('Y-m-d H:i:s',$_SESSION.adminuser.admin_login_time)}>
					</p>
					<p>
						<strong>上次登录IP：</strong>  <{$_SESSION.adminuser.admin_login_ip}>
			    	</p> -->
			    </div>
			</div>
		</div>
	</body>
</html>
